

















.more-button{
  background-color: #fa6980;
  font-weight: bold;
  border: none;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  margin-top: 40px;
}
.elephant-bot {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.elephant-top {
  height: 65%;
  width: 100%;
}
.elephant {
  width: 90%;
  height: 830px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border-bottom: 2px solid #a6adb4;
}
.info-right {
  width: 30%;
  height: 90%;
}
.info-mid {
  width: 30%;
  height: 90%;
}
.info-left {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 253px;
  width: 90%;
  margin-top: 50px;
  border-bottom: 2px solid #a6adb4;
  border-top: 2px solid #a6adb4;
}
.bot-right label {
  color: black;
  font-weight: bold;
}
.bot-right button {
  background-color: #fa6980;
  color: white;
  font-weight: bold;
  border: none;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  margin-top: 20px;
}
.bot-right {
  width: 60%;
  height: 60%;
}
.bot-left-text p {
  color: #ffffff;
  font-weight: bold;
}
.bot-left-text h1 {
  color: #ffffff;
  font-weight: bold;
}
.bot-left-text {
  width: 30%;
  height: 30%;
  position: absolute;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.world-bot-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.world-bot-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.world-news-bot {
  display: flex;
  width: 100%;
  height: 90%;
}
.world-top-left p {
  margin: 0;
}
.world-top-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}
.world-news-top {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.world-news {
  width: 90%;
  height: 570px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.footer-right svg {
  width: 25px;
  height: 25px;
  color: white;
  margin-top: 20px;
}
.footer-right {
  height: 70%;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
.footer-middle {
  height: 70%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-left div {
  height: 100%;
  display: flex;
  align-items: center;
  color: #cbd0d3;
}
.footer-left {
  height: 70%;
  width: 35%;
  display: flex;
  justify-content: space-evenly;
}
.footer {
  width: 100%;
  height: 200px;
  margin-top: 100px;
  background-color: #a6adb4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.ipad-bot-right svg{
  width: 1.3rem;
  height: 1.3rem;
  margin: 5px;
  color: white;
}
.ipad-bot-right{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ipad-bot-left{
    width: 60%;
    height: 100%;
}
.footer-ipad-bot{
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ipad-top-left{
    width: 40%;
    height: 78%;
}
.ipad-top-right{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}
.footer-ipad-top{
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-footer-bot svg{
  width: 1.5rem;
  height: 1.5rem;
  margin: 10px;
}
.nav-footer-bot{
    width: 70%;
    height: 20%;
    display: flex;
}
.nav-footer-top ul li{
    margin: 20px 0px;
}
.nav-footer-top ul{
    list-style-type: none;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    padding: 0;
    margin: 30px;
}
.nav-footer-top{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-footer {
  background-color: #a6adb4;
  width: 100%;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-item a {
  margin-left: 30px;
}
.nav-item {
  margin: 5px 0px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.navbar-right ul li {
  list-style-type: none;
  margin: 5px;
}
.navbar-right ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.navbar-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 30px;
  right: 20px;
}
.navbar-left {
  position: relative;
  left: 20px;
  align-items: center;
}
.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  z-index: 9;
  background-color: #ffffff;
}
.hidden {
  position: fixed;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}



/* mobile */
@media screen and (max-width: 620px) {
  
  
  





.more-button{
  margin: 20px 0px;
}
  .elephant-bot p{
    width: 90% !important;
  }
  .elephant-bot{
    width: 100%;
    align-items: center;
  }
  .elephant-top{
    height: 25%;
  }
  .elephant{
    height: 1100px;
    justify-content: space-evenly;
  }
  .info div{
    width: 90%;
  }
  .info{
    flex-direction: column;
    height: 750px;
  }
  .bot-right{
    width: 90%;
  }
  .world-bot-right{
    width: 100%;
  }
  .bot-left-text{
    width: 80%;
  }
  .world-bot-left{
    width: 100%;
  }
  .world-news-bot{
    flex-direction: column;
  width: 100%;
  }
  .world-news{
    width: 100%;
    height: 800px;
  }
  .hidden {
    display: none;
  }
  .footer {
    display: none;
  }
}

/* desktop */
@media screen and (min-width: 621px) {
  .fixed-top {
    display: none;
  }
  .footer-ipad-top, .footer-ipad-bot{
    display: none;
  }
  
}

/* ipad */
@media screen and (min-width:621px) and (max-width:870px) {
    
  
  
  
  
  
  
  



.elephant-bot p{
  width: 100% !important;
}
  .elephant-top{
    height: 300px;
  }
  .elephant{
    justify-content: space-evenly;
  }
  .info-right{
    grid-area: footer;
    width: 90%;
  }
  .info-mid{
    grid-area: menu;
    width: 90%;
  }
  .info-left img{
    margin-bottom: 10px;
    
    height: 50px !important;
    width: 50px !important;
  }
  .info-left{
    grid-area: header;
    width: 40%;
  }
  .info{
    margin-top: 50px;
    height: 500px;
    flex-direction: column;
    display: grid;
    grid-template-areas: 
    'header header'
    'menu footer'
    ;
  }
  .world-bot-right{
    width: 100%;
  }
  .bot-left-text{
    width: 100%;
    left: 0;
  }
  .world-bot-left{
    width: 100%;
  }
  .world-news-bot{
    flex-direction: column;
  }
  .world-news{
    height: 1100px;
  }
  .footer-ipad-top, .footer-ipad-bot{
        display: flex;
      }
    .footer{
        height: 316px;
        flex-direction: column;
      }
    .footer-left, .footer-middle, .footer-right{
        display: none;
      }
    
}